@use '../../styles/variables' as *;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1;
    padding: $spacing-xl 0;
    background-color: $background-light;

    @media (max-width: $breakpoint-tablet) {
      padding: $spacing-lg 0;
    }
  }
}
